.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:hover {
  background-color: #ddd;
}

.category_box {
  width: 50%;
  height: 120vh;
}
.category_page_header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 15px;
}

.category_page_header span {
  font-size: 2.3rem;
  font-weight: bold;
}

.category_page_header_select {
  margin-top: 20px;
  width: 200px;
  height: 75px;
  padding: 0;
  margin: 0;
}
