.main_page {
  margin-top: 400px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 200vh; /* 뷰포트 높이에 맞춤 */
}
.main_page_header {
  margin-top: 400px;
  margin-left: 5%;
  display: grid; /* Grid 컨테이너로 만듭니다. */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 세 개의 동일한 너비의 컬럼을 만듭니다. */

  gap: 3%; /* 항목 사이의 수평 간격을 고정된 값으로 설정합니다. */
  width: 80%; /* 컨테이너 너비를 상대적 단위로 설정합니다. */

  margin-bottom: 20px;
}

.all_category_span {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* 태블릿 화면 대응: 화면 너비가 768px 이하일 때 */
/* 2개의 컬럼으로 변경 */
/* @media (max-width: 768px) {
  .main_page_header {
    grid-template-columns: repeat(2, 1fr);
  }
}*/

/* 휴대폰 화면 대응: 화면 너비가 480px 이하일 때 */
/* @media (max-width: 480px) {
  .main_page_header {
    grid-template-columns: 1fr;
  }
} */
