.vote_header {
  display: flex;
  flex-direction: row;
  border-bottom: 4px solid #bfbfbf;
  justify-content: space-between;
}

.vote_header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  font-weight: bold;
}

.vote_userInfo {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.vote_userInfo p {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}

.vote_qustion {
  height: 50vh;
}
.vote_qustion p {
  font-size: 1.5em;
  font-weight: bold;
}

.vote_button {
  padding: 10px;
  margin: 5px 0;
  background-color: #f0f0f0;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  text-align: left;
  width: 50%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.vote_text {
  font-size: 1.3rem;
  color: #333;
}

.vote_image {
  width: 50%;
  height: 45vh;
}

.vote_end_button {
  color: white;
  background-color: #358fe8;
  border: none;
  border-radius: 10px;
  width: 600px;
  height: 55px;
  font-size: 20px;
  margin-bottom: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.vote_button_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.vote_choice_box {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.vote_select_button {
  padding: 10px;
  margin-top: 1.5rem;
  background-color: #f0f0f0;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  text-align: left;
  font-size: 1.6rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.vote_select_button.selected {
  background-color: #cfe3ff; /* Change this to your desired selected background color */
}

.comment_header {
  display: flex;
  flex-direction: row;
  border-top: 4px solid #c6c6c6;
  border-bottom: 4px solid #919191;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
}

.comment_header_result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.comment_header_text {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.comment_header_select {
  height: 3vh;
  width: 10%;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.comment_header_select option {
  font-size: 1.2rem;
}
.comment_image {
  width: 20%;
  height: 20%;
}
.comment_write {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment_write_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
}

.comment_write_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.comment_write_input input {
  width: 600px;
  border-radius: 10px;
  height: 2rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.comment_write_button {
  width: 170px;
  height: 2.1rem;
  align-items: center;
  background-color: #358fe8;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.comment_image_button {
  display: flex;
  flex-direction: row;
}
.comment_body {
  width: 50%;
}

.comment_body_box {
  height: 80vh;
  overflow-y: auto;
}

.comment_box {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c6c6c6;
  padding: 1rem;
}

.replycomment_box {
  width: 100%;
  background-color: rgb(172, 172, 172);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c6c6c6;
  padding: 1rem;
}

.commnet_box_user {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.comment_like_button {
  color: rgb(68, 136, 255);
}

.comment_like_count {
  margin-left: 10px;
}
.comment_like_reply_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment_reply {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
