/* Styles for the vote button */
.VoteButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 2.5rem;
  padding: 10px;
  margin: 5px 0;
  font-size: 1.6rem;
  background-color: #f0f0f0;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Highlighted vote button styles */
.VoteButton--highlighted {
  background-color: #cfe3ff;
  border-color: #a4cbff;
}

/* Styles for the text inside your vote button */
.VoteText {
  font-size: 1.6rem;
  color: #333;
}

/* Highlighted text styles */
.VoteText--highlighted {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
}

/* Styles for the vote count text */
.VoteCount {
  font-size: 1.2rem;
  color: #666;
}

/* Bold vote count text styles */
.VoteCount--bold {
  font-weight: bold;
  color: #222;
}

.comment_result_button {
  align-items: center;
  width: 40%;
  height: 2.5rem;
  padding: 10px;
  margin: 5px 0;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #358fe8;
}

.comment_header_select_end {
  height: 3vh;
  width: 40%;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.comment_header_select_end option {
  font-size: 1.2rem;
}
