/*알람*/
.alarm_box {
  margin-left: 150px;
  width: 400px;
}
.alarm_box_title {
  font-size: 24px;
}

.alarm_box_in_false {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 218);
  margin-top: 3%;
  width: 100%;
  height: 30vh; /* 뷰포트 높이에 맞춤 */
}

.alarm_box_in_true {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: rgb(218, 218, 218);
  margin-top: 5%;
  width: 100%;
  height: 30vh; /* 뷰포트 높이에 맞춤 */
}

.alarm_box_in_title {
  text-align: center;
}

.alarm_message_true {
  margin-top: 3%;
  font-size: 20px;
  padding: 12px;
  width: 80%;
  height: 23%;
  border-radius: 10px;
  border: none;
  background-color: white;
}

.alarm_message_false {
  margin-top: 3%;
  font-size: 20px;
  padding: 12px;
  width: 80%;
  height: 23%;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 179, 135);
}
