.banner {
  width: 100%;
  height: 10%; /* 기본 높이 */
  background-color: #2a324b;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  z-index: 100;
}
.banner_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.banner_text {
  color: white;
  font-size: 1rem;
  margin-left: 20px;
}

.icon_label {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

.search-container {
  position: relative;
  padding: 0%;
  width: 100%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  border-radius: 20px; /* 모서리를 둥글게 */
}

.search-input-box {
  padding-right: 30px; /* 버튼이 텍스트를 가리지 않도록 오른쪽 패딩 추가 */
  padding-top: 10px; /* 위쪽 패딩 */
  padding-bottom: 10px; /* 아래쪽 패딩 */
  margin-left: 50%;
  width: 17.5%;
  height: 5%; /* 입력 필드의 높이 설정 */
  border-radius: 10px; /* 모서리를 둥글게 */
}

.search-button {
  position: absolute;
  margin-left: 70%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.login_label {
  color: white;
  font-size: 1rem;
  margin-left: 30px;
}
