.user_box_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*유저*/
.user_box {
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 350px;
  height: 350px; /* 뷰포트 높이에 맞춤 */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자를 추가하여 입체감을 줍니다 */
}

.user_box_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  width: 50%;
}

.user_box_header_label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 15%;
}

.user_box_point_box {
  width: 60%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0075ff;
  background-color: #ffffff;
  height: 15%;
  border-radius: 20px;
  margin-bottom: 5%;
}

.votemake_button {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0075ff;
  height: 15%;
  border-radius: 20px;
}
.user_box label {
  font-size: 1.2rem;
  font-weight: bold;
}
.user_box_title {
  margin-top: 18%;
  font-size: 1.2rem;
  font-weight: bold;
}
.user_box_explain {
  margin-top: 5%;
  font-size: 0.8rem;
  color: gray;
}
.user_box_login {
  margin-top: 5%;
  width: 70%;
  height: 18%;
  border-radius: 10px;
  background-color: gray; /* Green */
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}
.user_box_signup {
  font-size: 0.9rem;
  color: #0075ff;
}
