/*유저*/
.user_box {
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 350px;
  height: 350px; /* 뷰포트 높이에 맞춤 */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자를 추가하여 입체감을 줍니다 */
}

.user_box_title {
  margin-top: 18%;
  font-size: 1.2rem;
  font-weight: bold;
}
.user_box_explain {
  margin-top: 5%;
  font-size: 0.8rem;
  color: gray;
}
.user_box_login {
  margin-top: 5%;
  width: 70%;
  height: 18%;
  border-radius: 10px;
  background-color: gray; /* Green */
  color: white;
  border: none;
  cursor: pointer;
}
.user_box_signup {
  font-size: 0.9rem;
  color: #0075ff;
}

@media (max-width: 2800px) {
  .user_box {
    margin-left: 5%; /* 좌측 여백을 상대적으로 조정합니다. */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 80%; /* 너비를 화면에 맞게 조정합니다. */
    height: auto; /* 높이를 내용에 따라 자동으로 조정합니다. */
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* 그림자를 조금 더 진하게 조정합니다. */
  }

  .user_box_title {
    margin-top: 5%; /* 상단 여백을 조정합니다. */
    font-size: 1.5rem; /* 제목의 크기를 조정합니다. */
    font-weight: bold;
  }

  .user_box_explain {
    margin-top: 3%; /* 상단 여백을 조정합니다. */
    font-size: 1rem; /* 설명의 크기를 조정합니다. */
    color: gray;
  }

  .user_box_login {
    margin-top: 3%; /* 상단 여백을 조정합니다. */
    width: 50%; /* 너비를 조정합니다. */
    height: auto; /* 높이를 내용에 맞게 자동으로 조정합니다. */
    border-radius: 10px;
    background-color: gray; /* 배경 색상을 유지합니다. */
    color: white;
    border: none;
    cursor: pointer;
  }

  .user_box_signup {
    font-size: 1rem; /* 가입 버튼의 텍스트 크기를 조정합니다. */
    color: #0075ff;
  }
}
