.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.time-message-box {
  position: relative;
  margin-left: 33%;
  margin-bottom: -12%;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-height: 600px;
  max-width: 450px;
  width: 100%; /* 화면 너비에 맞게 조정 */
  height: 80%;
}

/* modal_style.css 추가 스타일 */
.inputField {
  width: 70%; /* 입력 필드 너비 */
  padding: 10px;
  margin-right: 10px; /* 입력 필드와 버튼 사이의 간격 */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sendButton {
  width: 28%; /* 버튼 너비 */
  padding: 10px 0;
  background-color: #4caf50; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #45a049; /* 호버 시 버튼 색상 */
}

.label {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: block; /* 라벨을 블록 요소로 설정 */
}

.mainRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 10px; /* 각 행 사이의 간격 */
}

.modal-content button {
  margin: 0 10px 0px auto; /* 닫기 버튼 위치 조정 */
  display: block; /* 닫기 버튼을 블록 요소로 설정 */
  padding: 10px 10px;
  background-color: #f44336; /* 닫기 버튼 색상 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #c0392b; /* 호버 시 닫기 버튼 색상 */
}
