.App {
  background-color: rgb(240, 240, 240);
  height: 200vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.goBackButton {
  font-size: 1.6rem;
  font-weight: bold;
}

.likeButton {
  font-size: 1.6rem;
  font-weight: bold;
}
