.App {
  background-color: rgb(240, 240, 240);
  height: 200vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.goBackButton {
  position: absolute;
  top: 140px;
  width: 200px;
  margin-bottom: 30px;
}
