.banner {
  width: 100%;
  height: 10%; /* 기본 높이 */
  background-color: #555555;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.search-container {
  position: relative;
  margin-left: 60%;
  margin-top: 1.5%;
  display: flex;
  align-items: center;
  border-radius: 20px; /* 모서리를 둥글게 */
}

.search-input-box {
  padding-right: 30px; /* 버튼이 텍스트를 가리지 않도록 오른쪽 패딩 추가 */
  padding-top: 10px; /* 위쪽 패딩 */
  padding-bottom: 10px; /* 아래쪽 패딩 */
  width: 30%;
  height: 5%; /* 입력 필드의 높이 설정 */
  border-radius: 10px; /* 모서리를 둥글게 */
}

.search-button {
  position: absolute;
  margin-left: 30.5%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* 태블릿 */
@media (max-width: 768px) {
  .banner {
    height: 10%; /* 태블릿에서는 높이를 줄임 */
  }
}

/* 모바일 */
@media (max-width: 480px) {
  .banner {
    height: 6%; /* 모바일에서는 더 줄임 */
  }
}
