/* login_style.css */
.Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.Page > div {
  max-width: 450px;
  width: 100%; /* 화면 너비에 맞게 조정 */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.email-input,
.password-input,
.login-button,
.signup-button,
.back-button {
  width: 100%; /* 부모 컨테이너에 맞춰 너비 조정 */
  padding: 10px;
  margin: 10px 0; /* 위아래 마진 설정 */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
}

.login-button,
.signup-button,
.back-button {
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  cursor: pointer;
}

.login-button:hover,
.signup-button:hover,
.back-button:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .Page > div {
    margin: 20px;
    width: calc(100% - 40px); /* 화면 양쪽의 여백 고려 */
  }
}
