/* login_style.css */
.Page {
  margin: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  overflow: hidden; /* 스크롤 비활성화 */
  height: 100vh; /* 뷰포트 높이에 맞춤 */
}

.Page > .login-form {
  max-height: 600px;
  max-width: 450px;
  width: 100%; /* 화면 너비에 맞게 조정 */
  height: 80%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  text-align: center;
}
.Page > .title_form {
  max-height: 150px;
  max-width: 400px;
}

.header {
  background-color: #666;
  width: 100%;
  height: 8%;
}
.login-title {
  margin-top: 15%;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10%;
}

.first-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.second-title {
  font-size: 20px;
  font-weight: bold;
  color: #358fe8;
}
.email-input,
.password-input,
.login-button,
.back-button {
  width: 100%; /* 부모 컨테이너에 맞춰 너비 조정 */
  padding: 10px;
  margin: 10px 0; /* 위아래 마진 설정 */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
}

.login-button {
  margin-top: 5%;
  background-color: #358fe8; /* Green */
  color: white;
  border: none;
  cursor: pointer;
}

.login-button:hover,
.back-button:hover {
  opacity: 0.8;
}

.explain {
  margin-top: 15%;
  font-size: 15px;
  color: #666;
}

.signup-text {
  color: #358fe8;
}
/* 기존 스타일 위에 추가 */
@media (max-width: 768px) {
  .Page > .login-form,
  .Page > .title_form {
    max-width: 90%; /* 태블릿에서는 좀 더 넓게 사용 */
    margin-top: 5%; /* 타이틀 폼의 상단 마진 조정 */
  }

  .title {
    margin-top: 20%; /* 모바일과 태블릿에서 타이틀의 마진 증가 */
    font-size: 24px; /* 타이틀 글자 크기 감소 */
  }

  .do-title {
    font-size: 18px; /* 세부 타이틀 글자 크기 감소 */
  }

  .email-input,
  .password-input,
  .login-button,
  .signup-button,
  .back-button {
    padding: 8px; /* 입력 필드와 버튼의 패딩 감소 */
    margin: 8px 0; /* 마진 감소 */
  }

  .explain {
    margin-top: 10%; /* 설명 텍스트의 마진 감소 */
    font-size: 13px; /* 설명 텍스트의 글자 크기 감소 */
  }
}

@media (max-width: 480px) {
  .Page > .login-form,
  .Page > .title_form {
    max-width: 100%; /* 모바일에서는 전체 너비 사용 */
    margin-top: 10%; /* 타이틀 폼의 상단 마진 조정 */
  }

  .title {
    margin-top: 25%; /* 모바일에서 타이틀의 마진 증가 */
    font-size: 20px; /* 타이틀 글자 크기 더 감소 */
  }

  .do-title {
    font-size: 16px; /* 세부 타이틀 글자 크기 더 감소 */
  }

  .email-input,
  .password-input,
  .login-button,
  .signup-button,
  .back-button {
    padding: 8px; /* 입력 필드와 버튼의 패딩 유지 */
    margin: 6px 0; /* 마진 더 감소 */
  }

  .explain {
    margin-top: 20%; /* 설명 텍스트의 마진 증가 */
    font-size: 12px; /* 설명 텍스트의 글자 크기 더 감소 */
  }
}
