/* LogInPage.css */
.Page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.Page > div {
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
}

input[type='email'],
input[type='password'],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .Page > div {
    width: 90%;
  }
}
