@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tilt+Neon&display=swap');

html,
body {
  font-family: 'Bebas Neue', sans-serif;
}

/* login_style.css */
.Page {
  margin: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  height: 100vh; /* 뷰포트 높이에 맞춤 */
}

.main_page {
  background-color: rgb(255, 0, 0);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: rgb(240, 240, 240);
  height: 250vh; /* 뷰포트 높이에 맞춤 */
}
