/* login_style.css */
.Page {
  margin: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  height: 100vh; /* 뷰포트 높이에 맞춤 */
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  height: 250vh; /* 뷰포트 높이에 맞춤 */
}
