/* signup_style.css */
.Page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.Page .signup-form {
  display: grid;
  grid-template-columns: 150px 1fr; /* 라벨과 입력 필드 너비 비율 설정 */
  gap: 10px; /* 라벨과 입력 필드 사이 간격 */
  max-width: 450px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.label-form {
  grid-column: 1 / 2; /* 첫 번째 열에 위치 */
  text-align: right; /* 라벨을 오른쪽 정렬 */
  padding-right: 10px; /* 라벨과 입력 필드 사이 간격 추가 */
}

.signvalue-form {
  grid-column: 2 / 3; /* 두 번째 열에 위치 */
}

.input,
.mbti,
.gender-button,
.signup-button {
  padding: 10px;
  margin-bottom: 10px; /* 요소들 사이 간격 */
}

.gender-button {
  background-color: #f0f0f0;
  cursor: pointer;
  width: auto; /* 버튼 너비 자동 조절 */
}

.gender-button.selected {
  background-color: #358fe8;
  color: white;
}

.signup-button {
  background-color: #358fe8;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 0; /* 버튼 상하 패딩 */
}

.signup-button:disabled {
  background-color: #ccc;
}

/* 반응형 레이아웃 조정 */
@media (max-width: 768px) {
  .Page .signup-form {
    grid-template-columns: 1fr; /* 모바일 화면에서는 한 열만 사용 */
  }

  .label-form,
  .signvalue-form {
    grid-column: 1 / -1; /* 모든 열을 차지하도록 조정 */
  }

  .label-form {
    text-align: left; /* 모바일 화면에서 라벨을 왼쪽 정렬 */
    padding-right: 0;
  }

  .input,
  .mbti-select,
  .gender-button,
  .submit-button {
    width: 100%;
  }

  .gender-button,
  .submit-button {
    padding: 10px;
  }
}
