/* signup_style.css */
.Page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f0f2f5;
}

.Page > .signup-form {
  max-width: 450px;
  width: 100%; /* 화면 너비에 맞게 조정 */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.label {
  margin-right: 10px; /* 라벨과 인풋 사이 간격 */
  width: 80px; /* 라벨 폭 고정 */
}

.input,
.mbti,
.gender-button {
  flex: 1; /* 나머지 공간을 input, select, button이 차지하도록 설정 */
  padding: 10px;
  margin-right: 10px; /* 요소들 사이의 간격 */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gender-button {
  width: auto; /* 버튼의 너비를 자동으로 설정 */
  background-color: #f0f0f0;
  cursor: pointer;
}

.gender-button.selected {
  background-color: #358fe8;
  color: white;
}

.mbti {
  width: auto; /* 셀렉트 박스의 너비를 자동으로 설정 */
}

/* 버튼 스타일 */
.singup-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #358fe8;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
    align-items: stretch;
  }

  .label {
    margin-bottom: 5px;
    width: auto; /* 모바일에서는 라벨의 너비를 자동으로 조정 */
  }

  .input,
  .mbti,
  .gender-button {
    margin-right: 0; /* 모바일에서는 요소들 사이의 간격을 제거 */
  }
}
